langchain
torch
accelerate
#bitsandbytes
transformers
sentence_transformers
streamlit
streamlit_chat
faiss-cpu
altair
tiktoken
huggingface-hub

streamlit
streamlit-chat
langchain
langchain-community
langchain-huggingface
openai
python-dotenv
sentence-transformers
faiss-cpu